<div class="card-1">
    <figure class="img-hover-scale overflow-hidden justify-content-center">
        <a href="{{ path('detail_categorie', {'id': categorie.id }) }}">
        {% if categorie.fichier is not null %}
            
        <img src="{{ asset('uploads/'~ categorie.fichier.path ~'/'~ categorie.fichier.alt) }}" alt="" style="height: 100px; width: auto;">
        {% else %}
            
        <img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt="" style="height: 100px; width: auto;">
        {% endif %}
        </a>
    </figure>
    <h5 class="text-truncate px-2"><a href="{{ path('detail_categorie', {'id': categorie.id }) }}" title="{{ categorie.libelle }}">{{ categorie.libelle }}</a></h5>
    <a href="{{ path('detail_categorie', {'id': categorie.id }) }}" class="button py-2 mb-2 text-white">Consulter</a>
</div>