<section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
            <div class="tab-header">
                <ul class="nav nav-tabs" id="productTab" role="tablist">
                    {% for key,categorie in categories_index|filter(item => item.produits|length > 0) %}
                        <li class="nav-item" role="presentation">
                            {# <a class="d-flex m-2 py-2 bg-light rounded-pill " data-bs-toggle="pill" href="#{{ categorie.libelle |replace({' ': ''})}}">
                                <span class="text-dark" style="width: 130px;"></span>
                            </a> #}
                            <button class="nav-link {% if key == 0 %} active {% endif %} " id="nav-tab-categorie-{{ key }}" data-bs-toggle="tab" data-bs-target="#tab-categorie-{{ key }}" type="button" role="tab" aria-controls="tab-one" aria-selected="true">
                                {{ categorie.libelle }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('liste_categories') }}" class="view-more d-none d-md-flex">Voir plus<i class="fi-rs-angle-double-small-right"></i></a>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="productTabContent">
            
                {% for key,categorie in categories_index|filter(item => item.produits|length > 0)  %}

                
                    <div class="tab-pane fade show {% if key == 0 %} active {% endif %}" id="tab-categorie-{{ key }}" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            {% for produit in categorie.produits|slice(0, 12) %}
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    {% include 'new_site/_includes/_produit_card.html.twig' with {product: produit} %}
                                </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>
                {% endfor %}
            </div>
            <!--End tab-content-->
        </div>
    </section>