<section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Nos</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                {% for categorie in categories %}
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden justify-content-center">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}">
                            {% if categorie.fichier is not null %}
                                
                            <img src="{{ asset('uploads/'~ categorie.fichier.path ~'/'~ categorie.fichier.alt) }}" alt="" style="height: 100px; width: auto;">
                            {% else %}
                                
                            <img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt="" style="height: 100px; width: auto;">
                            {% endif %}
                            </a>
                        </figure>
                        <h5 class="text-truncate px-2"><a href="{{ path('detail_categorie', {'id': categorie.id }) }}" title="{{ categorie.libelle }}">{{ categorie.libelle }}</a></h5>
                        <a href="{{ path('detail_categorie', {'id': categorie.id }) }}" class="button py-2 mb-2 text-white">Consulter</a>

                    </div>
                    
                    
                    {# <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}"><img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt=""></a>
                        </figure>
                        <h5><a href="{{ path('detail_categorie', {'id': categorie.id }) }}">{{ categorie.libelle }}</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}"><img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt=""></a>
                        </figure>
                        <h5><a href="{{ path('detail_categorie', {'id': categorie.id }) }}">{{ categorie.libelle }}</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}"><img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt=""></a>
                        </figure>
                        <h5><a href="{{ path('detail_categorie', {'id': categorie.id }) }}">{{ categorie.libelle }}</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}"><img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt=""></a>
                        </figure>
                        <h5><a href="{{ path('detail_categorie', {'id': categorie.id }) }}">{{ categorie.libelle }}</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="{{ path('detail_categorie', {'id': categorie.id }) }}"><img src="{{ asset('evara-frontend/assets/imgs/shop/category-thumb-1.jpg') }}" alt=""></a>
                        </figure>
                        <h5><a href="{{ path('detail_categorie', {'id': categorie.id }) }}">{{ categorie.libelle }}</a></h5>
                    </div> #}
                {% endfor %}
            </div>
        </div>
    </div>
</section>