{% extends 'new_site/base.html.twig' %}

{% block breadcrumbs %}
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{{ path('new_site') }}" rel="nofollow">Accueil</a>
                <span></span> Connexion / Inscription
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                       {#  <form class="form w-100" id="kt_sign_in_form" action="{{ path('app_auth_resume') }}" method="POST"> #}
                        <div class="col-lg-5">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="text-center mb-11">
                                       
                                      
                                        <!--end::Subtitle=-->
                                    </div>
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Connexion</h3>
                                    </div>
                                   <form  action="{{ path('app_auth_resume') }}" method="POST">
                                     {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        {% if app.user %}
                                            <div class="mb-3">
                                                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="email" required="" value="{{ last_username }}" name="username" autocomplete="off" placeholder="Votre Email">
                                             
                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" name="password" placeholder="Mot de passe" name="password" autocomplete="off">
                                          
                                        </div>
                                        <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    {# <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                    <label class="form-check-label" for="exampleCheckbox1"><span>Se souvenir de moi</span></label> #}
                                                </div>
                                            </div>
                                           {#  <a class="text-muted" href="#">Mot de passe oublié?</a> #}
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" >Se connecter</button>
                                        </div>
                                 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                          </form>
                                </div>
                            </div>
                        </div>
                         
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Inscription</h3>
                                    </div>
                                   {#  <p class="mb-50 font-sm">
                                        Nous utiliserons vos données pour vous fournir une expérience de navigation sur ce site, pour vous authentifier et pour d'autres fins décrites dans notre politique de confidentialité
                                    </p> #}
                        {{ form_start(form, action="{{ path('app_register') }}") }}
                                                        {#  <form method="post"  action="{{ path('app_register') }}"> #}
                        {{ include('_includes/ajax/response.html.twig') }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               {#  <input type="text" required="" name="username" placeholder="Nom d'utilisateur"> #}
                                                {{ form_row(form.username, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                            </div>
                                           
                                        </div>
                                        <div class="col-md-6">
                                             <div class="form-group">
                                               {#  <input type="text" required="" name="email" placeholder="Email"> #}
                                               {{ form_row(form.email, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12">
                                             <div class="form-group">
                                               {#  <input type="text" required="" name="email" placeholder="Email"> #}
                                               {{ form_row(form.contact, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                   {#  <input required="" type="password" name="password" placeholder="Mot de passe"> #}
                                                   {{ form_row(form.plainPassword.first, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                   {#  <input required="" type="password" name="password" placeholder="Confirmation du mot de passe"> #}
                                                   {{ form_row(form.plainPassword.second, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                                </div>
                                            </div>
                                             <div class="row">
                                    <div class="col-md-12">
                                             <div class="form-group">
                                               {#  <input type="text" required="" name="email" placeholder="Email"> #}
                                               {{ form_row(form.residence, {attr: {class: 'form-control form-control-sm bg-transparent'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                        <div class="divider-text-center mt-0 mb-0">
                                        <span> </span>
                                    </div>
                                      {#   <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                                    <label class="form-check-label" for="exampleCheckbox12"><span>J'accepte les termes &amp; de confidentialité.</span></label>
                                                </div>
                                            </div>
                                            <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>En savoir plus</a>
                                        </div> #}
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-main btn-ajax">
			<span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span>
			Valider
			<!--end::Indicator progress-->
		</button>
                                        </div>
                                  {{ form_end(form)}}
                                 {#  </form> #}
                                    {# <div class="divider-text-center mt-15 mb-15">
                                        <span> ou</span>
                                    </div>
                                    <ul class="btn-login list_none text-center mb-15">
                                        <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Se connecter avec Facebook</a></li>
                                        <li><a href="#" class="btn btn-google hover-up">Se connecter avec Google</a></li>
                                    </ul>
                                    <div class="text-muted text-center">Vous avez déjà un compte? <a href="#">Se connecter</a></div> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}